@charset "UTF-8";

@import url("./default/default.css"); 
@import url("./default/tabela.css");

.card-left {
  background-color: var(--cor-menu);
  flex: 0.0625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  border-radius: 2.125rem;
  box-shadow: 0.9375rem 0.25rem 2.875rem var(--cor-menu-sombra);
}

.card-right {
  flex: 2;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  text-align: center;   
}

.title {
  font-size: 1.75rem;
  color: var(--cor-textos);
  margin-bottom: 1.25rem;
  text-align: center;
}

.input-container {
  width: 100%;
  max-width: 21.875rem;
  margin-bottom: 0.9375rem;
  position: relative;
}

.input {
  width: 17.5rem;
  max-width: 100%;
  border: none;
  border-bottom: 0.125rem solid var(--cor-input);
  outline: none;
  font-size: 1rem;
  padding: 0.625rem 0;
  color: var(--cor-textos);
}

.input::placeholder {
  color: #828282;
  opacity: 1; 
}

.input:focus::placeholder {
  opacity: 0; 
}

.input:focus {
  border-bottom: 0.125rem solid #3a5945;
}

.admin-link {
  display: block;
  font-size: 0.875rem;
  margin-top: 0.3rem;
  color: #51735a;

  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}

.admin-link:hover {
  color: #3a5945;
  text-decoration: underline;
}

#voltar {
  margin-top: 0.6rem;
  margin-bottom: 0.4rem;
  font-size: 0.8rem;
}

#voltar::after {
  content: "ㅤ";
}

.button {
  background-color: var(--cor-botao);
  color: #fff;
  font-size: 1.125rem;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 0.3125rem;
}

.button:hover {
  background-color: var(--cor-botao-pressionado);
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

.hidden {
  display: none;
}

#forgot-password-section {
  width: 100%;
  max-width: 21.875rem;
  text-align: center;
}


  